/* BUTTONS */
.navbar-brand {
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
}
.nav-link {
  font-weight: 300;
  letter-spacing: 0.5px;
}
.navbar {
  background-color: #252525;
  display: flex;
}
.navbar .navbar-nav {
  flex-direction: column;
  width: 40rem;
  justify-content: space-between;
}
.navbar a {
  text-decoration: unset;
  color: white;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 500px) {
  .navbar .navbar-nav {
    flex-direction: row;
    width: 40rem;
    justify-content: space-between;
  }
}
/* USER NAVIGATION BAR */
.usernavbar {
  /* background-color: #333333; */
  background-color: #17a2b8;
  padding: 0rem 1rem;
  display: flex;
}
.usernavbar .navbar-nav {
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}
.usernavbar a {
  text-decoration: unset;
  color: white;
  justify-content: center;
  text-align: center;
}
.usernavbar .nav-link {
  padding: 0.5rem;
}
@media screen and (min-width: 500px) {
  .usernavbar .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
/* USER MESSAGES */
.messages {
}
/* USER POSTS */
.user-posts {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.user-posts .form-control {
  border: none;
}
.change-post {
  width: 100%;
}
.post-title {
  font-size: 1.2rem;
  font-weight: 300;
}

.post-link:hover {
  text-decoration: unset;
  color: black;
}
.user-posts {
  display: flex;
}
.edit-title {
  display: inline;
  flex-direction: row;
}
/* ALL USER  */
.all-posts {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.all-posts .post-link {
  color: #007183;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
  height: 1.2em;
  white-space: nowrap;
}
.create-post {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 1rem;
}
.comment-link {
  color: #007183;
}
.comment-link:hover {
  color: #007183;
  text-decoration: none;
}
#profile-pic {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  object-fit: cover;
}
/* post-link {
  vertical-align: middle;
} */
