.navbar-brand {
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
}
.nav-link {
  font-weight: 300;
  letter-spacing: 0.5px;
}
.navbar {
  background-color: #252525;
  padding: 0rem 1rem;
  display: flex;
}
.navbar .navbar-nav {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.navbar a {
  text-decoration: unset;
  color: white;
  justify-content: center;
  text-align: center;
}

/* USER NAVIGATION BAR */
.usernavbar {
  background-color: #17a2b8;
  padding: 0rem 1rem;
  display: flex;
}
.usernavbar .navbar-nav {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.usernavbar a {
  text-decoration: unset;
  color: white;
  justify-content: center;
  text-align: center;
}
.usernavbar .nav-link {
  padding: 0.5rem;
}

/* USER POSTS */
.user-posts {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.user-posts .form-control {
  border: none;
}
.change-post {
  width: 100%;
}
.post-title {
  font-size: 1.2rem;
  font-weight: 300;
}

.post-link:hover {
  text-decoration: unset;
  color: black;
}
.edit-title {
  display: inline;
  flex-direction: row;
}
/* ALL USER  */
.all-posts {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.all-posts .post-link {
  color: #007183;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
  height: 1.2em;
  white-space: nowrap;
}
.create-post {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 1rem;
}
.comment-link {
  color: #007183;
}
.comment-link:hover {
  color: #007183;
  text-decoration: none;
}
/* PROFILE PICTURE */
#profile-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.menu-button {
  display: none;
}
/* DROP DOWN MENU */
@media screen and (max-width: 500px) {
  .drop-down {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 100%;
    top: 3.5rem;
    transform: translateX(-100%);
    transition: 0.3s ease;
    text-align: center;
  }
  .drop-down.open {
    transform: translateX(0);
  }
  .menu-button {
    display: inherit;
    z-index: 2;
    border: none;
    background-color: #252525;
  }
  .menu-button:focus {
    border: none;
    outline: none;
  }
  .navbar .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  .usernavbar .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
}

/* ALERT MESSAGES */
.alert {
  padding: 20px;
  background-color: #252525;
  color: white;
  margin: 1rem;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
