/* BUTTONS */
.navbar-brand {
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
}
.nav-link {
  font-weight: 300;
  letter-spacing: 0.5px;
}
.btn {
  background-color: #5f9ea0;
  border-color: #5f9ea0;
}
.btn:hover {
  background-color: #326f72;
  border-color: #326f72;
}
/* NAVBAR */
.navbar {
  background-color: #252525;
  display: flex;
}
.navbar .navbar-nav {
  flex-direction: column;
  width: 40rem;
  justify-content: space-between;
}
.navbar a {
  text-decoration: unset;
  color: white;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 500px) {
  .navbar .navbar-nav {
    flex-direction: row;
    width: 40rem;
    justify-content: space-between;
  }
}
/* USER NAVIGATION BAR */
.usernavbar {
  /* background-color: #333333; */
  background-color: #326f72;
  padding: 0rem 1rem;
  display: flex;
}
.usernavbar .navbar-nav {
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}
.usernavbar a {
  text-decoration: unset;
  color: white;
  justify-content: center;
  text-align: center;
}
.usernavbar .nav-link {
  padding: 0.5rem;
}
@media screen and (min-width: 500px) {
  .usernavbar .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
